
/* body {
  border-radius: 1em;
  border: 0.2em solid black;
} */
* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
  font: sans-serif;
}


header {
  /*background-color: rgb(210, 210, 210);*/ 
  /*background-color: rgb(20,20,20);*/
  background-color: rgb(9, 20, 30);
  color: blue;
}
/* nav header menu styling */
header nav.mainNavigation {
  /*grid*/
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-template-areas: 
    /* "headerPic emptySpacer emptySpacer emptySpacer" */
    "homeMain homeMain mainNavigation mainNavigation"
    "botBord botBord botBord botBord";
  /*font*/
  font-size: 1.2rem;
  /*background*/
  /*background-color: rgb(240, 240, 240);*/ 
  border-radius: 1em;
}

/* header nav.mainNavigation > div.emptyMainSpacer {
  grid-area: emptySpacer;
} */
header a.homeMain {
  display: block;
  grid-area: headerPic;
  font-size: 6rem;
  font: 'Trebuchet MS';
  padding-bottom: 0;
  padding-left: 0.5em;
  text-decoration: none;
  justify-self: center;
}
hr.navBorder {
  grid-area: botBord;
  align-self: center;
  justify-self: center;
  border-radius: 0.1rem;
  border: 0;
  border-bottom: 0.2rem solid blue;
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

/*main nav*/
header ul.mainNavigation {
  /*grid-item*/
  align-self: end;
  grid-area: "mainNavigation";
  /*style*/
  font-size: 1.5rem;
  /* background-color: rgb(9, 21, 61);  */
  background-color: green;
  /* border-radius: 1em; */
  margin-top: 0.6em;
  padding: 0.5em;
  padding-left: 1.2rem;
  margin-right: 2em;
  /* min-width: 1vw; */
  /* margin-right: 2em; */
  
  /*list*/
  list-style-type: none;
  /*grid*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;



  display: grid;
  grid-gap: 5%;
  grid-area: mainNavigation; /*part of outer grid with M/ */
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 2.5fr 18ex;
  grid-template-areas: "home bio exp proj intouch"; /*inner grid for menu */
  justify-content: space-between;
  justify-items: center;
  align-items: end;
  position: relative;
  text-indent: 0;
}
header ul.mainNavigation > li#mainnavProj {
  text-align: left;
  justify-self: left;
  /*appearance*/
  border-right: 0.5em solid black;
}
header div#headerPicWrapper {
  justify-self: center;
}
/*inner grid for main nav*/
ul.mainNavigation > li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  border: 0.2rem solid white;
  
}
ul.mainNavigation > li > a {
  text-decoration: none;
}
li#mainnavHome {
  grid-area: home;
}
li#mainnavBio {
  grid-area: bio;
}
li#mainnavExp {
  grid-area: exp;
}
li#mainnavProj {
  grid-area: proj;
  justify-self: safe;
}
li#mainnavTouch {
  grid-area: intouch;
}

/*submain nav*/
header ul.subMainNav {
  font-size: 1.3rem;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  position: absolute;
  display: none;
}
header li:hover > ul.subMainNav {
  display: block;
}
header li > ul.subMainNav li {
  margin: 0;
  padding: 0.4rem 0.6rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  z-index: 1;
  background-color: black; 
  border-top: 0.2rem solid rgb(9, 21, 100); ;
}
header li > ul.subMainNav > li a{
  text-decoration: none;
  padding-left: 0.4em;
}

/*curved for submenu*/
li#submainnav1 > a {
  border-color: green;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}
li#submainnav2 {
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}







